<!DOCTYPE html>
<html>
  <head>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" ></script>
    <script type="text/javascript" src="http://underscorejs.org/underscore.js"></script>
    <script> window._.t = function(input){ return input; }</script>
    <script type="text/javascript" src="js/dc/note_embed.js"></script>
    <link type='text/css' rel='stylesheet' href="http://s3.amazonaws.com/s3.documentcloud.org/note_embed/note_embed-datauri.css"/>
    
    <script>
      var notes = {}; // Storage of note model/properties.
      var resizeTimer; //set resizeTimer to empty so it resets on page load

      //entry point
      var init = function(){
        //add each note as an object of coordinates
        $(".DC-note-container").each( function(){ 
          addNotes( $(this) );
          compareSize();
        });

        //on resize, run compareSize and reset the timeout
        $(window).resize( function(){
          clearTimeout( resizeTimer );
          resizeTimer = setTimeout( compareSize,250 ); //250 is the delay in milliseconds. Can be adjusted as you see fit. 
        });
      }

      //CLARIFICATION OF TERMINOLOGY
      //box : the area with the yellow border
      //viewable(".DC-note-excerpt-wrap") : just the area with the image
      //left cover(".DC-left-cover"), target, right cover(".DC-right-cover") : parts of the viewable area; apparently there's no element corresponding directly to the target, or the actual focus of the note
      //image(".DC-note-image") : actual image, a parts of which is visible in the viewable area

      //stores full-size note coordinates for each note
      var addNotes = function(noteEl){
        var noteID          = noteEl.attr('id');
        var widthViewable   = noteEl.find(".DC-note-excerpt-wrap").width();

        //don't store notes that are set to display none && you can't embed the same note twice on one page, so you can't have two notes[noteID]
        if( widthViewable!=0 && !(notes[noteID]) ){
          var heightViewable  = noteEl.find(".DC-note-excerpt").height(); //heightViewable = heightLeftCover = heightTarget = heightRightCover
          var widthLeftCover  = noteEl.find(".DC-left-cover"  ).width();
          var widthRightCover = noteEl.find(".DC-right-cover" ).width();
          var heightOffset    = noteEl.find(".DC-note-image"  ).position().top;
          var widthOffset     = noteEl.find(".DC-note-excerpt").position().left;
        //var widthImage    for a full-sized note is always 700 because all page images served are 700x900
        //var widthViewable for a full-sized note is always 750 because max width of viewable is 750

          //note
          var note = {
            noteID: noteID,
            heightViewable:  heightViewable,
            widthLeftCover:  widthLeftCover,
            widthTarget:     750-(widthLeftCover+widthRightCover),
            widthRightCover: widthRightCover,
            heightOffset:    heightOffset,
            widthOffset:     widthOffset
          };
          //add the note to notes
          notes[noteID] = note;
        }
      }

      //compares new width of viewable to left cover and target widths & scales accordingly
      var compareSize = function(){
        $.each( notes,function(){
          var noteEl = $("#"+this.noteID); //the notes lookup should just cache the element.
          var new_widthViewable = noteEl.find(".DC-note-excerpt-wrap").width();

          if( new_widthViewable < this.widthTarget ){
            console.log( this.noteID,": case1" );
            //kill left cover + scale
          }
          else if( new_widthViewable < this.widthLeftCover+this.widthTarget ){
            console.log( this.noteID,": case2" );
            //kill left cover
          }
          else{
            console.log( this.noteID,": case3" );
            //restore left cover
          }
        });
      }

      $(window).load( function(){
        init();
      });
    </script>
    <style>
    </style>
  </head>
  <body>
    <template>
      <div class="DC-note">
        <div class="DC-note-contents">
          <div class="DC-note-title display">
            <a class="DC-title-link" href="<%= note.viewerUrl() %>"><%= note.get('title') %> <span class="DC-page-number">(<%=_.t('pg') %> <%= note.get('page') %>)</span></a>
          </div>
          <% if (note.get('access') == 'exclusive') { %>
            <div class="DC-note-draft-label interface display"><%= _.t('draft') %></div>
          <% } %>
          <% if (note.get('access') == 'private') { %>
            <div class="DC-icon lock display" title="<%= _.t('private_note') %>"></div>
          <% } %>
          <% var coords = note.coordinates(); %>
          <% if (coords) { %>
            <a href="<%= note.viewerUrl() %>">
              <div class="DC-note-excerpt-wrap">
                <div class="DC-note-excerpt" style="height: <%= coords.height %>px;">
                  <div class="DC-left-cover"  style="height: <%= coords.height %>px; width: <%= coords.left %>px;"></div>
                  <div class="DC-right-cover" style="height: <%= coords.height %>px; width: <%= 750 - coords.right %>px;"></div>
                  <img class="DC-note-image" src="<%= note.imageUrl() %>" alt="" style="top: -<%= coords.top %>px;" />
                </div>
              </div>
            </a>
          <% } %>
          <div class="DC-note-text display"><%= note.get('content') %></div>
        </div>
      </div>
    </template>
    <script>
      var templateText = _.unescape($('template')[0].innerHTML);
      window.JST = {};
      JST['note_embed'] = _.template(templateText);
    </script>

    <div id="DC-note-168403" class="DC-note-container"></div>
    
    <div id="DC-note-168037" class="DC-note-container"></div>
    
    <script>
      dc.embed.loadNote('http://www.documentcloud.org/documents/1160076-224332847-nyt-innovation-report-2014/annotations/168403.js');

      dc.embed.loadNote('http://www.documentcloud.org/documents/1160076-224332847-nyt-innovation-report-2014/annotations/168037.js');
    </script>
  </body>
</html>